
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: #ab7373;
}


.background {
    position: fixed;
    background: url("https://img3.wallspic.com/crops/3/4/4/5/3/135443/135443-black_and_gold_fountain_pen_on_brown_wooden_table-3840x2160.jpg") no-repeat center center fixed; 
    background-size: cover;
    width: 200%;
    height: 200%;
    transform-origin: top left;
    z-index: -1;
}


.header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    align-items: center;
    padding: 20px;
    background-color: rgba(212, 126, 21, 0.755);

}


bar {
    display: flex;
}


.navbar a {
    color: #8d7979;
    text-decoration: none;
    margin-left: 20px;
}



.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}


input[type="submit"]:hover {
    background-color: #3e8e41;
}